<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Visitor Information</title>
</head>
<body style="font-family: Arial, sans-serif; margin: 0; padding: 20px; background-color: #284B63;">
<div style="background-color: #284B63; padding: 10px; text-align: center;">
    <h1 style="color: whitesmoke; margin: 0;">Visitor Information</h1>
</div>
<div style="padding: 20px; background-color: #fff; border-radius: 10px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);">
    <p style="margin: 0 0 10px;">Dear <span th:text="${name}"></span></p>
    <p style="margin: 0 0 10px;">We are delighted to inform you that your registration has been successfully completed, and your Visitor ID is <b><span th:text="${id}"></span></b></p>
    <table style="width: 100%; border-collapse: collapse; border: 2px solid #343a40;">
        <tr>
            <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">Age</th>
            <td th:text="${age}" style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;"></td>
        </tr>
        <tr>
            <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">Email</th>
            <td th:text="${email}" style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;"></td>
        </tr>
        <tr>
            <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">Contact Number</th>
            <td th:text="${contactNumber}" style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;"></td>
        </tr>
        <tr>
            <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">Whom to Meet</th>
            <td th:text="${whomToMeet}" style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;"></td>
        </tr>
        <tr>
            <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">Date</th>
            <td th:text="${date}" style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;"></td>
        </tr>
        <tr>
            <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">Check In-Time</th>
            <td th:text="${inTime}" style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;"></td>
        </tr>
        <tr>
            <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">Default Check Out-Time</th>
            <td th:text="${outTime}" style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;"></td>
        </tr>
        <tr>
            <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">Reason for Meeting</th>
            <td th:text="${reasonForMeeting}" style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;"></td>
        </tr>
        <tr>
            <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">Visitor Organization</th>
            <td th:text="${visitorOrganization}" style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;"></td>
        </tr>
    </table>
    <br>
    <br>
    <p style="margin: 0 0 10px; background-color : #BFCOCO;"><b style="background-color : #BFCOCO;">We kindly request you to remember to check out upon leaving the premises. Your cooperation in following this procedure ensures the safety and security of our facility.</b></p><br>
    <p style="margin: 0 0 10px;">Best Regards,</p>
    <p style="margin: 0 0 10px;">Kamarthi Omprakash</p><br>
    <div style="display: inline-block; font-family: 'Arial Black', cursive; font-weight: bold; font-size: 40px; color: white; text-transform: uppercase; letter-spacing: 2px; padding: 20px; background-image: linear-gradient(to right, #ff0000, #ff0000); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">MINDSPRINT</div>
    <div style="font-size: 10.0pt; font-family: Segoe UI, sans-serif; color: black;">
        <p><span>Ascendas, 12<sup>th</sup> Floor, Zenith Building,</span></p>
        <p><span>International Tech Park, CSIR Road</span></p>
        <p><span>Taramani, Chennai, India - 600113</span></p>
        <p><b>Ph:</b><span>&nbsp; 044-42223700</span></p>
        <p><b>Website:</b>&nbsp; <a href="https://www.mindsprint.org/">www.mindsprint.org</a></p>
    </div>
</div>
<div style="">
    <p style="color: whitesmoke; padding: 10px; text-align: center; font-size: 12px;">This email was generated automatically. Do not reply.</p>
</div>
</body>
</html>
